.jumbotron{
	background-color: black;
	color: white;
	font-family: "Lucida Console", Courier, monospace;
	margin-top:20px;
	margin-bottom: 5px;}
.row{margin-top: 10px;
     margin-bottom: 2px;}

/*.banner{margin-top: 0px;
	width: 100%;
	height: 60%;}
.ban{position: relative;}*/
body{background-color: lightgray;}
.nuevo{position: absolute;}
.card-img-top{/*width: 100%*/;
	height: 13rem;
	margin-bottom: 8px;}
.table-responsive{margin:15px 6px;}
.footer{
		padding-top: 15px;
		background-image: linear-gradient(lightgray, #696969);}

.oi{padding-right: 5px;}
.formulario{background-color: silver;
		border: 2px outset;
		border-radius:4px; 
		margin-bottom: 10px;}

.productos{
		border-style:outset solid outset solid;
		border-color: lightgray;
		background-color: darkgray;
		text-align: center;}
.car-brand{
		display:flex;
		flex-wrap: wrap;
		margin-top: 10px;
		flex:1 310px;
		padding: 0px 0px;
		max-width: 410px;}
h3{ text-align: center;
		border-bottom: 2px ;
		color:black;}
.btn{
		width:100%;
		border-radius: 0px 0px;}