@lightgray: #e0ddd7;
@black: #000000;
@darkgray: #8c8b87;


.margenes( @top, @bottom){
	margin-top: @top;
	margin-bottom: @bottom;
}

.padding( @top, @right, @bottom, @left ){
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;
	padding-left: @left;

}

.jumbotron{
	background-color: @black;
	color: white;
	font-family: "Lucida Console", Courier, monospace;
	.margenes(20px,0px);}
.row{.margenes(10px,0px);
     .margenes(0px,2px);}

/*.banner{.margenes(0px,0px);
	width: 100%;
	height: 60%;}
.ban{position: relative;}*/
body{background-color: @lightgray;}
.nuevo{position: absolute;}
.card-img-top{/*width: 100%*/;
	height: 13rem;
	.margenes(0px,8px);}
.table-responsive{margin:15px 6px;}
.footer{
        .padding(15px,0px,0px,0px);
		background-image: linear-gradient(@lightgray, #696969);}

.oi{.padding(0px,5px,0px,0px);}

.formulario{background-color: silver;
		border: 2px outset;
		border-radius:4px; 
		.margenes(0px,10px);}

.productos{
		border-style:outset solid outset solid;
		border-color: @lightgray;
		background-color: @darkgray;
		text-align: center;}
.car-brand{
		display:flex;
		flex-wrap: wrap;
		.margenes(10px,0px);
		flex:1 310px;
		.padding(0px,0px,0px,0px);
		max-width: 410px;}
h3{ text-align: center;
		border-bottom: 2px ;
		color:@black;}
.btn{
		width:100%;
		border-radius: 0px 0px;}