.jumbotron {
  background-color: #000000;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  margin-top: 20px;
  margin-bottom: 0px; }

.row {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 2px; }

/*.banner{@include margenes(0px,0px);
	width: 100%;
	height: 60%;}
.ban{position: relative;}*/
body {
  background-color: #e0ddd7; }

.nuevo {
  position: absolute; }

.card-img-top {
  /*width: 100%*/
  height: 13rem;
  margin-top: 0px;
  margin-bottom: 8px; }

.table-responsive {
  margin: 15px 6px; }

.footer {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-image: linear-gradient(#e0ddd7, #696969); }

.oi {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px; }

.formulario {
  background-color: silver;
  border: 2px outset;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 10px; }

.productos {
  border-style: outset solid outset solid;
  border-color: #e0ddd7;
  background-color: #8c8b87;
  text-align: center; }

.car-brand {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0px;
  flex: 1 310px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 410px; }

h3 {
  text-align: center;
  border-bottom: 2px;
  color: #000000; }

.btn {
  width: 100%;
  border-radius: 0px 0px; }
